<chat-message>
  <p>
    Hier ist eine Liste mit allen m&ouml;glichen Kontaktpersonen und
    Ansprechpartnern:
  </p>
</chat-message>
<chat-message template="contacts-info"></chat-message>
<contact-item key="Geschäftsführung"></contact-item>
<contact-item key="Qualitätsmanagement"></contact-item>
<contact-item key="Bereichsleitung"></contact-item>
<contact-item key="B.E.R.N.I."></contact-item>
<contact-item key="Jugendamt"></contact-item>
<contact-item key="Landesjugendamt"></contact-item>
<contact-item key="Kinderschutzzentrum"></contact-item>
<contact-item key="Wildwasser e.V."></contact-item>
<contact-item key="pro familia Oldenburg"></contact-item>
<contact-item key="trans*beratung Weser-Ems"></contact-item>

<chat-link target="share"></chat-link>
