<template>
  <div>
    <p>
      Hier ist eine Liste mit allen m&ouml;glichen Kontaktpersonen und
      Ansprechpartnern:
    </p>
  </div>
  <div>
    <ul>
      <li>
        <p data-contact="contact-1" data-homepage="#">Kontakt #1</p>
      </li>
      <li>
        <p data-contact="contact-2" data-homepage="#">Kontakt #2</p>
      </li>
      <li>
        <p data-contact="contact-3" data-homepage="#">Kontakt #3</p>
      </li>
    </ul>
  </div>
  <div data-info-contacts></div>
</template>

<template>
  <chat-link target="share"></chat-link>
</template>
