<div>
  <p>Extern</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta neque
    cupiditate dolorum, quibusdam porro sunt minima. Delectus, asperiores
    voluptates rem qui maxime non ratione. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Minima delectus quis vitae tenetur
    perspiciatis animi voluptate sapiente consequatur reiciendis laudantium,
    officiis unde praesentium architecto, laboriosam officia ut, earum doloribus
    totam.
  </p>
</div>

<div>
  <div data-route="option-a">Ich möchte ... Option A</div>
  <div data-route="option-b">Ich möchte ... Option B</div>
  <div data-route="option-c">Ich möchte ... Option C</div>
</div>
