<chat-message>
  <p>Keine Sorge 🤗</p>
</chat-message>
<chat-message>
  <p>
    Ich werde versuchen dir zu helfen, indem ich dir ein paar Fragen stelle.
  </p>
</chat-message>
<chat-message>
  <p>M&ouml;chtest du dich &uuml;ber etwas bei pro liberis beschweren</p>
  <p>oder</p>
  <p>
    ist dir etwas passiert und du m&ouml;chtest mit einer Person dar&uuml;ber
    reden?
  </p>
</chat-message>

<chat-link target="complaint">Ich m&ouml;chte mich beschweren!</chat-link>
<chat-link target="event">Mir ist etwas passiert.</chat-link>
