<div>
  <p>Sehr gut 😤</p>
  <p>
    M&ouml;chtest du dich bei einer Person beschweren, die bei pro liberis
    arbeitet
  </p>
  <p>oder</p>
  <p>
    m&ouml;chtest du dich bei einer au&szlig;enstehenden Person, die nicht bei
    pro liberis arbeitet beschweren?
  </p>
</div>

<div>
  <div data-route="internal-complaint">
    Ich m&ouml;chte mich bei pro liberis beschweren!
  </div>
  <div data-route="external-complaint">
    Ich m&ouml;chte mich bei einer außenstehenden Person beschweren!
  </div>
</div>
