<chat-message>
  <p>Sehr gut 😤</p>
</chat-message>
<chat-message>
  <p>
    M&ouml;chtest du dich bei einer Person beschweren, die bei pro&nbsp;liberis
    arbeitet
  </p>
  <p>oder</p>
  <p>
    m&ouml;chtest du dich bei einer au&szlig;enstehenden Person beschweren, die
    <em>nicht</em> bei pro&nbsp;liberis arbeitet?
  </p>
</chat-message>

<chat-link target="internal-complaint"
  >Ich m&ouml;chte mich bei pro&nbsp;liberis beschweren!</chat-link
>
<chat-link target="external-complaint"
  >Ich m&ouml;chte mich bei einer außenstehenden Person beschweren!</chat-link
>
