<div>
  <p>Option C</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error commodi autem
    numquam, debitis nulla aliquam saepe odio eos. Hic placeat nesciunt
    assumenda architecto ducimus rerum illo ab accusamus ullam sint. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Impedit ipsa sed perspiciatis
    molestias. Commodi, fuga! Consequuntur dicta quisquam a inventore excepturi,
    omnis eum aut fuga est. Repellendus maiores modi nam! Lorem ipsum dolor sit,
    amet consectetur adipisicing elit. Obcaecati nesciunt vel nam excepturi
    ipsum, accusamus fugit veritatis optio tempora reiciendis natus ea
    praesentium quaerat architecto sed. Voluptatibus et possimus dolore? Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Itaque voluptates eaque
    maiores vel cum nulla voluptate quaerat fugiat dolor modi! Soluta libero
    accusamus possimus suscipit, natus iure ad deleniti molestiae.
  </p>
</div>

<div>
  <div data-route="option-g">Ich möchte ... Option G</div>
  <div data-route="option-h">Ich möchte ... Option H</div>
</div>
