<chat-message>
  <p>
    <b>Der Kummerbot &bdquo;a2Bs&rdquo;</b><br />das anonyme Beschwerde- und
    Beratungsmanagement System der&nbsp;<a
      href="https://www.pro-liberis.de/pages/startseite.php"
      >pro&nbsp;liberis&nbsp;gGmbH</a
    >.
  </p>
  <p>
    H&auml;ufig f&auml;llt es Menschen schwer sich mit (intimen) Fragen direkt
    an Bezugspersonen zu richten. Auch Konflikte anzusprechen und evtl.
    &uuml;bergriffiges Verhalten zu melden, kann eine hohe Barriere sein. Mit
    dem Kummerbot &bdquo;a2Bs&rdquo; wollen wir versuchen dem entgegen zu
    wirken.
  </p>
  <p>
    Ziel ist es, dass Klient&ast;Innen sich anonym &uuml;ber ein Endger&auml;t
    entweder &uuml;ber den QR-Code oder &uuml;ber die Internetseite an
    unterschiedlichen internen wie externen Stellen beschweren können. Ebenso
    soll eine direkte und niederschwellige Vermittlung direkt an
    Beratungsstellen erfolgen können.
  </p>
</chat-message>
<chat-message>
  <p>Diese Internetseite befindet sich noch in der Entwicklung.</p>
  <p>Es stehen nicht alle Funktionen zur Verf&uuml;gung.</p>
</chat-message>
<chat-message>
  <p>
    <a href="https://www.pro-liberis.de/pages/impressum.php">Impressum</a>
  </p>
</chat-message>
