<chat-message message-tmpl-awaiting-message></chat-message>

<template id="message-tmpl-awaiting-message">
  <p>Was m&ouml;chtest du der Kontaktperson mitteilen?</p>
</template>

<template id="message-tmpl-preview-recipient">
  <p>
    Ich werde folgende, anonyme Nachricht an
    <span></span> schicken:
  </p>
</template>

<template id="message-tmpl-awaiting-captcha">
  <p>Aber bevor ich das tue, muss ich wissen, dass du ein Mensch bist.</p>
  <p>Bitte l&ouml;se dazu folgende Aufgabe:</p>
</template>

<template id="message-tmpl-awaiting-response">
  <p>Deine Nachricht wird versendet ...</p>
</template>

<template id="message-tmpl-response-success">
  <p>Deine Nachricht wurde versendet 🎉</p>
</template>
