<!-- Header data -->
<template id="indicator-pending">Schreibt ...</template>
<template id="indicator-waiting">Online</template>
<template id="about-inactive">Details</template>
<template id="about-active">zur&uuml;ck</template>

<!-- templates injected into ChatLinks -->
<template id="tmpl-link-home"
  >Ich m&ouml;chte zur&uuml;ck zur Startseite</template
>
<template id="tmpl-link-back"
  >Ich m&ouml;chte einen Schritt zur&uuml;ck</template
>
<template id="tmpl-link-share"
  >Ich m&ouml;chte diese Informationen teilen</template
>

<!-- templates injected into ChatMessages -->
<template id="tmpl-message-contacts">
  <p>
    Du kannst auf den gew&uuml;nschten Kontakt klicken, um zu einem anonymen
    Kontaktformular zu gelangen oder<br />du kopierst dir die gew&uuml;nschte
    E&dash;Mail&dash;Adresse in deine Zwischenablage.
  </p>
  <p>
    Wer diese Ansprechpartner sind, siehst du, indem du auf den weiterführenden
    Link klickst.
  </p>
</template>

<template id="tmpl-module-error">
  <p>$&#x26A0; Da hat etwas nicht funktioniert ...</p>
  <!-- <p>Hier erscheint eine Fehlermeldung</p> -->
  <p>
    Versuche die Seite neu zu laden oder<br />
    kehre zur&uuml;ck zur <a>Startseite</a>
  </p>
</template>

<!-- ChatModules dnymaic contents-->
<template id="tmpl-module-share" class="tmpl-module">
  <chat-message>
    <p>Danke 🙂</p>
    <p>Dadurch kannst du vielleicht einer anderen Person weiterhelfen.</p>
  </chat-message>
  <chat-message>
    <p>Um diese Informationen zu teilen, schicke der Person diesen Link:</p>
  </chat-message>
</template>

<template id="tmpl-module-message" class="tmpl-module">
  <chat-message>Morp</chat-message>
  <chat-link target="home"></chat-link>
</template>
