<!-- static templates injected into ChatMessages -->
<template id="contacts-info">
  <!--
  <p>
    Du kannst auf den gew&uuml;nschten Kontakt klicken, um zu einem anonymen
    Kontaktformular zu gelangen oder
  </p>
  -->
  <p>
    Du kannst auf den gew&uuml;nschten Kontakt klicken, um der Person eine
    E&#8209;Mail zu schreiben oder
  </p>
  <p>
    du kopierst dir die gew&uuml;nschte E&#8209;Mail&#8209;Adresse in deine
    Zwischenablage.
  </p>
  <p>
    Wer diese Ansprechpartne&ast;Innen sind, siehst du, indem du auf den
    weiterführenden Link klickst.
  </p>
</template>
