<chat-message>
  <p>Hallo 👋</p>
</chat-message>
<chat-message>
  <p>
    Ich bin a2BS, das anonyme Beschwerde und Beratungsmanagement System bei pro
    liberis.
  </p>
</chat-message>
<chat-message>
  <p>Wei&szlig;t du schon genau bei wem du dich melden m&ouml;chtest?</p>
</chat-message>

<chat-link target="contacts"
  >Ja, allerdings ben&ouml;tige ich die genauen Kontaktdaten.</chat-link
>
<chat-link target="help">Nein, das wei&szlig; ich nicht.</chat-link>

<!-- static templates injected into ChatMessages -->
<template id="message-tmpl-contacts-info">
  <p>
    Du kannst auf den gew&uuml;nschten Kontakt klicken, um zu einem anonymen
    Kontaktformular zu gelangen oder<br />du kopierst dir die gew&uuml;nschte
    E&dash;Mail&dash;Adresse in deine Zwischenablage.
  </p>
  <p>
    Wer diese Ansprechpartner sind, siehst du, indem du auf den weiterführenden
    Link klickst.
  </p>
</template>
