<chat-message>
  <p>Hallo 👋</p>
</chat-message>
<chat-message>
  <p>
    Ich bin a2BS, das anonyme Beschwerde und Beratungsmanagement System bei
    pro&nbsp;liberis.
  </p>
</chat-message>
<chat-message>
  <p>
    Ich m&ouml;chte dir helfen, eine Bezugsperson zu finden, an die du dich mit
    (intimen) Fragen richten kannst.
  </p>
  <p>
    Auch falls du nicht wei&szlig;t, bei wem du Konflikte ansprechen und evtl.
    &uuml;bergriffiges Verhalten melden kannst, unterst&uuml;tze ich dich gerne.
  </p>
  <p>Wei&szlig;t du schon genau bei wem du dich melden m&ouml;chtest?</p>
</chat-message>

<chat-link target="contacts"
  >Ja, allerdings ben&ouml;tige ich die genauen Kontaktdaten.</chat-link
>
<chat-link target="help">Nein, das wei&szlig; ich nicht.</chat-link>
