<chat-message>
  <p>
    Damit ich dir besser helfen kann, m&ouml;chte ich dich als Letztes bitten,
    deine Frage oder das Erlebte etwas genauer zu beschreiben.
  </p>
</chat-message>
<chat-message>
  <ol type="A">
    <li>
      Hast du eine Frage zu Verh&uuml;tung, Schwangerschaft oder
      Schwangerschaftsabbr&uuml;chen?
    </li>
    <li>
      Hast du eine Frage zu deiner Geschlechtsidentit&auml;t und bzw. oder
      deiner sexuellen Orientierung?
    </li>
    <li>
      Hat das Erlebnis mit einem sexuellen &Uuml;bergriff oder sexueller Gewalt
      zu tun oder bist du dir nicht sicher, ob es das war?
    </li>
    <li>Hat das Erlebnis mit Gewalt von Erwachsenen zu tun?</li>
  </ol>
</chat-message>

<chat-link target="pregnancy">Ich habe eine Frage zu Punkt A</chat-link>
<chat-link target="identity">... Punkt B</chat-link>
<chat-link target="assault">... Punkt C</chat-link>
<chat-link target="violence">... Punkt D</chat-link>
