<div>
  <p>
    Damit ich dir besser helfen kann, m&ouml;chte ich dich als Letztes bitten,
    deine Frage oder das Erlebte etwas genauer zu beschreiben.
  </p>
  <ol type="A">
    <li>
      Hast du eine Frage zu Verh&uuml;tung, Schwangerschaft oder
      Schwangerschaftsabbr&uuml;chen?
    </li>
    <li>
      Hast du eine Frage zu deiner Geschlechtsidentit&auml;t und bzw. oder
      deiner sexuellen Orientierung?
    </li>
    <li>
      Hat das Erlebnis mit einem sexuellen &Uuml;bergriff oder sexueller Gewalt
      zu tun oder bist du dir nicht sicher, ob es das war?
    </li>
    <li>Hat das Erlebnis mit Gewalt von Erwachsenen zu tun?</li>
  </ol>
</div>

<div>
  <div data-route="pregnancy">Ich habe eine Frage zu Punkt A</div>
  <div data-route="identity">... Punkt B</div>
  <div data-route="assault">... Punkt C</div>
  <div data-route="violence">... Punkt D</div>
</div>
