<div>
  <p>
    Hier ist eine Liste mit m&ouml;glichen Ansprechpartnern, um dich bei einer
    au&szlig;enstehenden Person &uuml;ber pro liberis zu beschweren:
  </p>
  <div data-info-contacts></div>
  <ul>
    <li>
      <p data-contact="contact-1" data-homepage="#">B.E.R.N.I.</p>
    </li>
    <li>
      <p data-contact="contact-2" data-homepage="#">Jugendamt</p>
    </li>
    <li>
      <p data-contact="contact-3" data-homepage="#">Landesjugendamt</p>
    </li>
  </ul>
</div>

<div>
  <div data-route="home"></div>
  <div data-route="share"></div>
</div>
