<template>
  <chat-message>
    <p>
      Hier ist eine Liste mit m&ouml;glichen Ansprechpartnern, um dich bei einer
      au&szlig;enstehenden Person &uuml;ber pro liberis zu beschweren:
    </p>
  </chat-message>
  <chat-message data-contacts-list>
    <p>B.E.R.N.I.</p>
    <p>Jugendamt</p>
    <p>Landesjugendamt</p>
  </chat-message>
  <chat-message data-contacts-info></chat-message>
</template>

<template>
  <chat-link target="root"></chat-link>
  <chat-link target="share"></chat-link>
</template>
