@import './theme.css';
@import './header.css';
@import './footer.css';

/* @reminder */
/* componets do not have a shadowDOM */
@import './chat-module.css';
@import './chat-link.css';
@import './contact-list.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color-scheme: dark light;
  background-color: var(--body-fill);
  color: var(--body-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  font-weight: normal;
  text-decoration: inherit;
  cursor: pointer;
}

a,
a:visited {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 72px);
}

body {
  min-width: 320px;
  min-height: 100vh;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 720px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;

  background-color: var(--wrap-fill);
  box-shadow: 0 0 1rem var(--wrap-shadow);
}

main {
  padding: 0.5rem 1rem 2rem;

  & a.has-icon {
    position: relative;
    z-index: 10;
  }

  & a.has-icon svg,
  & button.has-icon svg {
    position: relative;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    right: -0.125rem;
    bottom: -0.4rem;
  }

  & a.has-icon-before svg,
  & button.has-icon-before svg {
    position: relative;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    left: -0.125rem;
    bottom: -0.4rem;
    margin-right: 0.125rem;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: normal;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.is-hidden {
  display: none;
}

.is-transparent {
  opacity: 0;
}

.sr-only {
  visibility: hidden;
}

.share-link-buttons {
  height: 3rem;
  line-height: 3rem;
  margin: 0.5rem -0.625rem 0 -0.625rem;

  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--fill-secondary);

  display: flex;

  /* display: grid; */
  /* gap: 0.5rem; */
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 50%)); */
}

.share-link-buttons button {
  all: unset;
  color: var(--link-color);
  cursor: pointer;

  flex: 1 1 100%;

  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: background-color 300ms;

  &:hover {
    color: var(--link-color-hover);
    background-color: var(--fill-secondary);
  }

  &:has(+ button) {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--fill-secondary);
  }

  &:has(+ button),
  &:nth-of-type(2) {
    flex: 0 1 50%;
  }
}

#svg-message-pending circle {
  animation: 1000ms infinite ease-in-out pending;
}
#svg-message-pending circle:nth-of-type(2) {
  animation-delay: 100ms;
}
#svg-message-pending circle:nth-of-type(3) {
  animation-delay: 200ms;
}

@keyframes pending {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-30%);
  }
  35% {
    transform: translateY(20%);
  }
  55% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
  }
}
