:root {
  --rich-black: hsl(220, 40%, 12%);
  --neon-blue: hsl(233, 100%, 64%);
  --powder-blue: hsl(230, 84%, 80%);

  --oxford-blue: hsl(220, 46%, 18%);
  --lavender: hsl(230, 94%, 92%);

  --prussian-blue: #213547;
  --true-blue: hsl(210, 100%, 40%);

  --shade-15: hsl(240, 5%, 15%);
  --shade-23: hsl(240, 2%, 23%);
  --shade-30: hsl(0, 0%, 30%);

  --shade-76: hsl(0, 0%, 76%);
  --shade-88: hsl(0, 0%, 88%);
  --shade-92: hsl(0, 0%, 92%);
}

/* *** main elements default: dark theme *** */

:root {
  --body-fill: hsl(240, 10%, 5%);
  --body-color: hsl(0, 0%, 88%);

  --wrap-fill: hsl(240, 10%, 8%);
  --wrap-shadow: #000;

  --link-color: var(--powder-blue);
  --link-color-hover: var(--lavender);
}

@media (prefers-color-scheme: light) {
  :root {
    --body-fill: hsl(0, 0%, 97%);
    --body-color: var(--prussian-blue);

    --wrap-fill: hsl(0, 0%, 98%);
    --wrap-shadow: #999;

    --link-color: var(--true-blue);
    --link-color-hover: var(--neon-blue);
  }
}

/* *** header *** */

header {
  --color-fill: hsla(240, 2%, 23%, 0.25);
  --color-fill-accent: var(--shade-23);
  --color-stroke: var(--shade-88);
  --color-avatar: hsl(230, 88%, 72%);
  /* fill: hsl(230, 84%, 80%); */
}

@media (prefers-color-scheme: light) {
  header {
    --color-fill: hsla(0, 0%, 96%, 0.5);
    --color-fill-accent: var(--shade-76);
    --color-stroke: var(--oxford-blue);
    --color-avatar: hsl(220, 46%, 18%);
  }
}

/* *** components *** */

chat-module {
  --fill-primary: var(--shade-15);
  --fill-secondary: var(--shade-23);

  --primary-fill: var(--rich-black);
  --primary-fill-accent: var(--oxford-blue);
  --primary-stroke: var(--powder-blue);
  --primary-stroke-accent: var(--lavender);

  --secondary-fill: var(--neon-blue);
  --secondary-stroke: var(--shade-88);
  --secondary-stroke-accent: var(--powder-blue);
}

@media (prefers-color-scheme: light) {
  chat-module {
    --fill-primary: var(--shade-92);
    --fill-secondary: var(--shade-76);

    --primary-fill: hsl(220, 90%, 94%);
    --primary-fill-accent: hsl(220, 76%, 86%);
    --primary-stroke: var(--true-blue);
    --primary-stroke-accent: hsl(210, 100%, 32%);

    --secondary-fill: var(--true-blue);
    --secondary-stroke: var(--shade-92);
    --secondary-stroke-accent: var(--powder-blue);
  }
}
