:root {
  /* accent colors */
  --rich-black: hsl(220, 40%, 12%);
  --neon-blue: hsl(233, 100%, 64%);
  --powder-blue: hsl(230, 84%, 80%);

  --oxford-blue: hsl(220, 46%, 18%);
  --lavender: hsl(230, 94%, 92%);

  /* shades */
  --shade-15: hsl(240, 5%, 15%);
  --shade-23: hsl(240, 2%, 23%);
  --shade-30: hsl(0, 0%, 30%);

  --shade-76: hsl(0, 0%, 76%);
  --shade-88: hsl(0, 0%, 88%);
  --shade-92: hsl(0, 0%, 92%);

  /* main elements */
  --body-fill: hsl(240, 10%, 5%);
  --body-color: hsl(0, 0%, 88%);

  --wrap-fill: hsl(240, 10%, 8%);
  --wrap-shadow: #000;

  --header-fill: var(--shade-23);
  --header-border: var(--shade-30);

  --link-color: var(--powder-blue);
  --link-color-hover: var(--lavender);

  --content-fill: var(--shade-15);
  --content-border: var(--shade-23);

  /* accent elements */
  --choice-fill: var(--rich-black);
  --choice-fill-hover: var(--oxford-blue);
  --choice-color: var(--powder-blue);
  --choice-color-hover: var(--lavender);
  --choice-border: var(--powder-blue);
  --choice-border-hover: var(--lavender);

  --chosen-fill: var(--neon-blue);
  --chosen-color: var(--shade-88);
  --chosen-border: var(--powder-blue);
  --chosen-btn-color: var(--shade-88);
  --chosen-btn-color-hover: #fff;
}

@media (prefers-color-scheme: light) {
  :root {
    --prussian-blue: #213547;
    --true-blue: hsl(210, 100%, 40%);

    --body-color: var(--prussian-blue);
    --body-fill: hsl(0, 0%, 97%);
    --wrap-fill: hsl(0, 0%, 98%);
    --wrap-shadow: #999;

    --header-fill: hsl(0, 0%, 96%);
    --header-border: var(--shade-88);

    --link-color: var(--true-blue);
    --link-color-hover: var(--neon-blue);

    --content-fill: var(--shade-92);
    --content-border: var(--shade-88);

    --choice-fill: hsl(220, 90%, 94%);
    --choice-fill-hover: hsl(220, 76%, 86%);
    --choice-color: var(--true-blue);
    --choice-color-hover: hsl(210, 100%, 32%);
    --choice-border: var(--true-blue);
    --choice-border-hover: hsl(210, 100%, 32%);

    --chosen-fill: var(--true-blue);
    --chosen-color: var(--shade-92);
    --chosen-border: var(--powder-blue);
    --chosen-btn-color: var(--shade-88);
    --chosen-btn-color-hover: #fff;
  }
}

:root {
  color-scheme: dark light;
  color: var(--body-color);
  background-color: var(--body-fill);
}

a {
  color: var(--link-color);

  &:hover {
    color: var(--link-color-hover);
  }
}

.wrap {
  background-color: var(--wrap-fill);
  box-shadow: 0 0 1rem var(--wrap-shadow);
}

header {
  background-color: var(--header-fill);
  border-bottom: 1px solid var(--header-border);
}

.content {
  background-color: var(--content-fill);
  border: 1px solid var(--content-border);
}

.choices a {
  color: var(--choice-color);
  border: 1px solid var(--choice-border);
  background-color: var(--choice-fill);

  &:hover {
    color: var(--choice-color-hover);
    border-color: var(--choice-border-hover);
    background-color: var(--choice-fill-hover);
  }
}

.chosen {
  color: var(--chosen-color);
  border: 1px solid var(--chosen-border);
  background-color: var(--chosen-fill);

  & a {
    color: var(--chosen-btn-color);
    border: 1px solid var(--chosen-btn-color);

    &:hover {
      color: var(--chosen-btn-color-hover);
      border-color: var(--chosen-btn-color-hover);
    }
  }
}
