<div>
  <p>
    Bei Fragen zu deiner Geschlechtsidentit&auml;t und bzw. oder deiner
    sexuellen Orientierung sind 'pro familia' oder 'trans*beratung' eine erste Anlaufstelle.
  </p>
  <div data-info-contacts></div>
  <ul>
    <li>
      <p data-contact="contact-1" data-homepage="#">
        pro familia Oldenburg
      </p>
    </li>
    <li>
      <p data-contact="contact-2" data-homepage="#">
        trans*beratung Weser-Ems
      </p>
    </li>
  </ul>
</div>

<div>
  <div data-route="home"></div>
  <div data-route="share"></div>
</div>
