:host {
  display: inline-block;
  align-self: flex-end;
  text-align: right;

  max-width: 80%;
  margin: 0 0 0.5rem;
  padding: 0.625rem 0.625rem;
  border-radius: 1.25rem 0.875rem 0 1.25rem;

  cursor: pointer;

  & a,
  & a:hover,
  & a:active {
    color: unset;
    background-color: unset;
    text-decoration: none;
  }

  & > div {
    display: none;

    & > span {
      align-self: center;
      flex: 1 1;
    }

    & > a {
      align-self: flex-start;
      flex: 0 0 2rem;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 2rem;
      height: 2rem;
      margin: -0.25rem 0.5rem -0.25rem -0.25rem;

      border-radius: 50%;
      outline: 1px solid var(--shade-88);
      cursor: pointer;

      &:hover {
        color: #fff;
        outline-width: 2px;
      }
    }
  }
}

:host([rejected]) {
  display: none;
}

:host([selected]) {
  cursor: auto;

  & > a {
    display: none;
  }

  & > div {
    display: inline-flex;
  }
}
