:host {
  display: inline-block;
  text-align: right;

  color: var(--powder-blue);
  background: var(--rich-black);
  border: 1px solid var(--powder-blue);
}

:host(:not([selected])) {
  cursor: pointer;
}

:host(:not([selected]):hover) {
  color: var(--lavender);
  background: var(--oxford-blue);
  border-color: var(--lavender);
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: unset;
  background-color: unset;
}

:host > div {
  display: none;
}

:host,
:host > a {
  display: inline-block;
}

:host,
:host > a {
  border-radius: 1.25rem 0.875rem 0 1.25rem;
}

:host > div,
:host > a {
  padding: 0.625rem 0.625rem;
  border-radius: 1.25rem 0.875rem 0 1.25rem;
}

:host([rejected]) {
  display: none;
}

:host([selected]) {
  cursor: auto;

  color: var(--shade-88);
  background: var(--neon-blue);
  border-color: var(--powder-blue);

  & > a {
    display: none;
  }

  & > div {
    display: inline-block;

    & > a {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      width: 2rem;
      height: 2rem;
      margin: -0.375rem 0.5rem -0.375rem -0.25rem;
      /* margin-right: 0.5rem; */

      border-radius: 50%;
      outline: 1px solid var(--shade-88);
      cursor: pointer;

      &:hover {
        color: #fff;
        outline-width: 2px;
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  :host {
    color: var(--true-blue);
    background-color: hsl(220, 90%, 94%);
    border-color: var(--true-blue);
  }

  :host(:not([selected]):hover) {
    color: hsl(210, 100%, 32%);
    background-color: hsl(220, 76%, 86%);
    border-color: hsl(210, 100%, 32%);
  }

  :host([selected]) {
    color: var(--shade-92);
    background-color: var(true-blue);
    border-color: var(--powder-blue);

    /*
		--chosen-btn-color: var(--shade-88);
		--chosen-btn-color-hover: #fff; */
  }
}
